<?xml version="1.0" encoding="UTF-8"?>
<!DOCTYPE plist PUBLIC "-//Apple//DTD PLIST 1.0//EN" "http://www.apple.com/DTDs/PropertyList-1.0.dtd">
<plist version="1.0">
<dict>
	<key>CLIENT_ID</key>
	<string>743036017136-un83dsjjd892cru798b18ctrvslvge5h.apps.googleusercontent.com</string>
	<key>REVERSED_CLIENT_ID</key>
	<string>com.googleusercontent.apps.743036017136-un83dsjjd892cru798b18ctrvslvge5h</string>
	<key>API_KEY</key>
	<string>AIzaSyBpQIl9JWe89gz6CyEM7LN02KpvX22t8N4</string>
	<key>GCM_SENDER_ID</key>
	<string>743036017136</string>
	<key>PLIST_VERSION</key>
	<string>1</string>
	<key>BUNDLE_ID</key>
	<string>com.example.toDoListProject</string>
	<key>PROJECT_ID</key>
	<string>todolistproject-ef74a</string>
	<key>STORAGE_BUCKET</key>
	<string>todolistproject-ef74a.appspot.com</string>
	<key>IS_ADS_ENABLED</key>
	<false></false>
	<key>IS_ANALYTICS_ENABLED</key>
	<false></false>
	<key>IS_APPINVITE_ENABLED</key>
	<true></true>
	<key>IS_GCM_ENABLED</key>
	<true></true>
	<key>IS_SIGNIN_ENABLED</key>
	<true></true>
	<key>GOOGLE_APP_ID</key>
	<string>1:743036017136:ios:9acb96687fc8dd50cce535</string>
	<key>DATABASE_URL</key>
	<string>https://todolistproject-ef74a-default-rtdb.europe-west1.firebasedatabase.app</string>
</dict>
</plist>